html, body{
    background: #E6F0FF!important;

}

#navbarColour{
  background-color:#3C4A65;
  font-size:10px;
  padding:0;
  padding-left:10px;
}
.navbar-light .navbar-toggler #toggler{
color:white;


}
#specific{
    color:white;
    font-size:20px;
}
.current{
    color:grey;
}

.inner{
    border-right:1px solid white;
    height:40%;
    padding-left:4px;
    padding-right:20px;
    margin-left:5px;
}

.inner:hover,#forms:hover{
    color:black;
}

#forms {
  color:white;
  font-size:20px;
  height:40%;
  padding-left:4px;
  padding-right:20px;
  margin-left:5px;
}


.jumbotron{
background:url(../images/homepage-header.jpg);
background-size: 100% 100%;
min-height: 450px;
}

@media (min-width: 1200px)
{
    .jumbotron
    {   position:relative;
        height:100px;
        width:100%;
    }
}
#logo img{
    width:30%;
    height:30%;
    position:absolute;
    bottom:5%;
    border-right:none;
}
.jumbotron h1{
    color:white;
    position:absolute;
}
#first{
    bottom:110px;
    left:500px;
    font-weight:300;
}
#second{
    bottom:50px;
    left:800px;
    font-weight:700;
    font-size:50px;
}

#third{
    bottom:10px;
    left:950px;
    font-weight:300;

}

#about{
    text-align:left;
}
#about h2,#about h4{
    font-weight:300;
}
#about h3{
    font-weight:200;
    text-align:center;
    font-size:3em;
}
#about h5{
    font-weight:200;
    line-height: 1.5em;

}
footer ul{
    margin-right:50px;

}

footer li{
    display:inline;
    list-style-type:none;
    padding-right:10px;
    padding-left:10px;
    font-weight:200;

}
footer a{
    color:black;
}
 footer a:hover{
color:aqua;

}
#aboutFooter a{
    color:grey;
}
footer #aboutFooter{


    border-left: 1px solid rgb(87, 87, 87);
    ;
    border-right: 1px solid rgb(87, 87, 87);;
}
@media screen and (max-width: 1200px) {
    #logo img {
        width:60%;
        height:30%;
        position:relative;
        left:25%;
        top:100px;
    }
    #first,#second,#third{
        font-size:0px;
    }
    .inner{
        border:0;
    }

}
@media screen and (max-width: 600px) {
    #logo img {
    height:60%;
   top:50%;
   position:relative;
   margin-top:100px;
}
}
